#contener{
    position: relative;
    height: 45vw;
    width: 45vw;
   
    background-color: red;
    background: url(clock.png) no-repeat;
    background-size: 100%;
    margin:auto;
}

#minute, #hour, #second{
    
    position: absolute;
    background: rgb(241, 234, 234);
    border-radius: 30px;
    transform-origin: bottom;

}


#hour{
    width: 2%;
    height: 18%;
    top: 20.5%;
    left: 49.3%;
    opacity: 0.8;
    
}

#minute{
    width: 1.5%;
    height: 22%;
    top: 17%;
    left: 49.5%;
    opacity: 0.8;    

}




#second{
  
    opacity: 0.8;
    width: 1%;
    height: 27%;
    top: 11.3%;
    left: 49.7%;
}

